.navbar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: white;
    border-bottom: 1px solid var(--gray);
    padding: 0.5rem;
    z-index: 10000;
}

.hamburger-button {
    background-color: transparent;
    border: 0;
    margin-left: auto;
    font-size: 20pt;
    margin-right: 20px;
}

.hamburger-menu {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 7vh;
    z-index: 100;
    width: 40vw;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    border: 1px solid var(--gray);
    background-color: white;
    border-bottom: 0;
}

.hamburger-menu button {
    background-color: transparent;
    border: 0;
    font-family: var(--default-font);
    font-weight: var(--bold-weight);
    font-size: 15pt;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    padding: 12px 10px 10px 5px;
    text-align: right;
    color: var(--accent);
}

.hamburger-menu button i {
    margin-left: 5px;
}

.dashboard-title {
    margin-top: 0;
    margin-bottom: 0;
}

.logout-button {
    margin-left: auto;
    margin-right: 1rem;
}

.dashboard-body {
    position: absolute;
    overflow:hidden;
    top: 12vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--light-gray);
}

.newsfeed {
    margin-bottom: 3rem;
}

.mood {
    border: 1px solid var(--gray);
    margin-bottom: 2rem;    
}

.mood-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vw;
    width: 100%;
}

.date-label {
    font-size: xx-small;
    color: #929292;
    padding-top: 0.125rem;
}

.mood-note {
    background-color: white;
    padding: 1rem;
    text-align: left;
    font-size: smaller;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 80vw;
}

.mood-note i {
    color: #929292;
}

.kebab {
    background-color: transparent;
    border-width: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: auto;
}

.kebab:hover,focus {
    background-color: var(--gray);
}

.kebab-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.triangle {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--light-gray);
    border-top: 0px solid transparent;
    display: inline-block;
    margin-left: auto;
    margin-right: 8px;
}

.kebab-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 5px;
}

.divider {
    height: 0px;
    border-bottom: 1px solid  var(--gray);
    width: 100%;
}

.kebab-menu button {
    display: inline-flex;
    justify-content: center;
    font-family: var(--default-font);
    font-weight: var(--bold-weight);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border: 0;
    border-radius: 5px;
    color: var(--accent);
    background-color: transparent;
    margin: 4px;
}

.kebab-menu button i {
    color: var(--accent);
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    .mood-item {
        height: 40vw;
        width: 40vw;
    }

    .mood-note {
        width: calc(40vw - 2rem);
    }
}