@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --bold-weight: 700;
  --default-font: "Roboto", sans-serif;
  --accent-light: #BBDCF2;
  --accent: #103954;
  --accent-hover: #1c6494;
  --accent-dark: #2480BE;
  --gray: #B7B7B7;
}

.h-color {
  height: 45vh;
}

.w-200px {
  width: 200px;
}

.mr-x {
  margin-right: 14%
}

body {
  font-family: var(--default-font);
  text-align: center;
  color: black;
}

h1 {
  color: var(--accent);
  font-size: xx-large;
  font-weight: var(--bold-weight);
  margin-bottom: 0.75rem;
}

h2 {
  color: var(--accent);
}

h3 {
  color: var(--accent);
}

a {
  display: inline-block;
  color: var(--accent-dark);
  text-decoration: none;
}

a:focus {
  text-decoration: underline var(--accent);
}

.indigo-button {
  display: inline-flex;
  justify-content: center;
  font-family: var(--default-font);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  font-size: small;
  color: white;
  background-color: var(--accent);
}

.indigo-button:hover {
  background-color: var(--accent-hover);
}

.indigo-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--accent-hover) ;
}

.error-callout {
  border-radius: 5px;
  font-weight: var(--bold-weight);
  background-color: orangered;
  color: maroon;
  padding: 1rem;
}