.modal-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.modal-box {
    position: fixed;
    margin-top: calc(100vh/2 - 300px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-shadow: 0 0 0 1000000px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--accent-light);
    border-radius: 10px;
    background-color: white;
}

.modal-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.modal-header-text {
    margin: 0;
}

.close-modal-button {
    background-color: transparent;
    color: var(--accent);
    border: 0;
    margin-left: auto;
    margin-right: -5px;
    font-size: 20pt;
}

.modal-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    text-align: left;
    align-items: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.color-block {
    width: 20px;
    height: 20px;
}

.notes-textarea {
    border: 2px solid var(--accent-light);
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.submit-mood-button {
    width: 200px;
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .modal-form {
        flex-wrap: wrap;
        flex-direction: row;
        width: 450px;
    }

    .textarea-label {
        margin-left: auto;
    }

    .submit-mood-button {
        margin-left: auto;
    }
}

@media only screen and (max-height: 736px) {
    .modal-box {
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-top: 20%;
    }

    .notes-textarea {
        height: 150px;
    }
}

@media only screen and (max-height: 568px) {
    .notes-textarea {
        height: 100px;
    }

    .modal-box {
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        margin-top: 25%;
    }
}

@media only screen and (max-height: 653px) {
    .notes-textarea {
        height: 120px;
    }

    .modal-box {
        margin-top: 30%;
    }
}